@font-face {
    font-family: "FranklinGothicMedium";
    src: url("/assets/fonts/Franklin Gothic Medium.woff2") format("woff2"),
        url("/assets/fonts/Franklin Gothic Medium.woff") format("woff"),
        url("/assets/fonts/Franklin Gothic Medium.ttf") format("truetype"),
        url("/assets/fonts/Franklin Gothic Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}