$primary-color: #f10505;
$background-white: #FFFFFF; 
$background-red-white: #fed7d7; 
$background-blue-white: #E8F2FD;
$background-error-1: #FFF7F7; 
$background-light-blue: #FAFDFF;
$typography-black: #161616;
$typography-gray: #8D8D8D;
$typography-dark-gray: #848181;
$secondary-error: #bd0000;
$secondary-black: #000000;
$button-linear-red: linear-gradient(to right, #FFFFFF, #EAC2C2);
$button-gray-dark: #868686;
$button--dark: #D8D8D8;